  .headera .wrapper
{
	width:80%;
	margin:auto;
}
 
   .headerb .wrapper
{
	width:80%;
	margin:auto;
}
 .portfolio .wrapper
{
	width:80%;
	margin:auto;
}
 .apps  .wrapper
{
	width:80%;
	margin:auto;
}
 .service  .wrapper
{
	width:80%;
	margin:auto;
}
 
.website  .wrapper
{
	width:80%;
	margin:auto;
}
 
 
 
 
 
 
 
 
 
 
 
 .headerb
{
	background-color:beige;
	height:68px;
}
.headerb .headerb-fc
{
	display:flex;
	justify-content:space-between;
}
.headerb .headerb-fc .hboxa
{
	background-color:lightblue;
	height:50px;
	width:40%;
	margin-top:10px;
	
}
.headerb .headerb-fc .hboxb
{
	background-color:orange;
	height:50px;
	width:20%;
	margin-top:10px;
}

 
.headera
{
	background-color:beige;
	height:81px;
}
.headera .headera-fc
{
	display:flex;
	justify-content:space-between;
	
}
.headera .headera-fc .heada
{
	background-color:pink;
	height:65px;
	width:30%;
	margin-top:10px;
	
}
.headera .headera-fc .hcon
{
	background-color:lightblue;
	height:81px;
	width:50%;
	display:flex;
	justify-content:space-evenly;
	
}
.headera .headera-fc .hcon .headb
{
	background-color:thistle;
	height:40px;
	width:15%;
		margin-top:15px;
}
.headera .headera-fc .hcon .headc
{
	background-color:thistle;
	height:40px;
	width:15%;
	margin-top:15px;
}
.headera .headera-fc .hcon .headd
{
	background-color:thistle;
	height:40px;
	width:15%;
	margin-top:15px;
}
.headera .headera-fc .hcon .heade
{
	background-color:thistle;
	height:40px;
	width:15%;
	margin-top:15px;
}

.portfolio
{
	background-color:linen;
	height:800px;
}
.portfolio .portfolio-fc
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

.portfolio .portfolio-fc .porta
{
	background-color:yellowgreen;
	height:350px;
		width:30%;
			margin-top:30px;
}
.portfolio .portfolio-fc .portb
{
	background-color:pink;
	height:350px;
		width:30%;
			margin-top:30px;
}
.portfolio .portfolio-fc .portc
{
		background-color:skyblue;
	height:350px;
		width:30%;
			margin-top:30px;

}
.portfolio .portfolio-fc .portd

{
		background-color:steelblue;
	height:350px;
		width:30%;
			margin-top:30px;
}


.portfolio .portfolio-fc .porte
{
		background-color:lightgray;
	height:350px;
	width:30%;
			margin-top:30px;
}

.portfolio .portfolio-fc .portf
{
		background-color:yellowgreen;
	height:350px;
		width:30%;
			margin-top:30px;
}


.apps 
{
	background-color:lightpink;
	height:250px;
}
.apps .apps-fc 
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
    justify-content:space-evenly;
	align-items:center;
}
.apps .apps-fc .app
{
	background-color:orchid;
	height:75px;
	width:100%;
	margin-top:20px;
}
.apps .apps-fc .appa
{
	background-color:steelblue;
	height:60px;
	width:18%;
	margin-top:20px;
}

.apps .apps-fc .appb
{
	background-color:steelblue;
	height:60px;
	width:18%;
	margin-top:20px;
}
.apps .apps-fc .appc
{
	background-color:steelblue;
	height:60px;
	width:18%;
	margin-top:20px;
}
.apps .apps-fc .appd
{
	background-color:steelblue;
	height:60px;
	width:18%;
	margin-top:20px;
}
.service
{
		background-color: orchid;
	height:600px;
}
.service .service-fc

{
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;

}
.service .service-fc .ser
{
	text-align:center;
margin-top:50px;
width:100%
}
.service .service-fc .tempa 

{
	background-color:coral;
	height:350px;
	width:22%;
	margin-top:15px;

}
.service .service-fc .tempb
{
		background-color:coral;
	height:350px;
	width:22%;
	margin-top:15px;
}
.service .service-fc .tempc
{
background-color:coral;
	height:350px;
	width:22%;
	margin-top:15px;
}
.service .service-fc .tempd
{
background-color:coral;
	height:350x;
	width:22%;
	margin-top:15px;
}
.service .service-fc .tempd
{
background-color:coral;
	height:350px;
	width:22%;
	margin-top:15px;
}
.review
{
	background-color:lightpink;
	height:600px;
}
.review .review-fc
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.review .review-fc .reviewtext
{
	text-align:center;
	width:100%;
margin-top:100px;
}
.review .review-fc .reviewa
{
	background-color:slateblue;
	height:304px;
	width:31%;
	margin-top:100px;
} 
.website
{
	background-color :coral;
	height:100px;
}
.website .website-fc
{
	display:flex;
	justify-content:space-between;
}
.website .website-fc .copyrighta
{
	background-color:mistyrose;
	width:15%;
	height:35px;
	margin-top:50px;
}

.website .website-fc .copyrightb
{
	background-color:mistyrose;
	width:20%;
	height:35px;
	margin-top:50px;
}


